<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>실습1 폼 전송 완료</h1>
    <ul>
      <%if (userInf.name) { %>
      <li>이름 : <%=userInf.name%></li>
      <%}%> <%if (userInf.sex) { %>
      <li>성별 : <%=userInf.sex%></li>
      <%}%> <%if (userInf.year | userInf.month | userInf.date){ %>
      <li>생일 : <%=`${userInf.year}-${userInf.month}-${userInf.date}`%></li>
      <%}%> <%if (userInf.interest) { %>

      <li>취미 : <%=userInf.interest%></li>
      <%}%>
    </ul>
    <br />
    <br />
    <a href="/">홈으로 이동</a>
  </body>
</html>
